[submodule ".style"]
	path = .style
	url = https://github.com/Burki24/StylePHP
[submodule "libs/vendor/SymconModulHelper"]
	path = libs/SymconModulHelper
	url = https://github.com/Burki24/SymconModulHelper
